* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  background-color: #191629;
  overflow: unset;
}

li {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}
